{{- if not .minimal -}}
export GITHUB_USERNAME="mdespuits"
export GITHUB_TOKEN={{ (bitwardenFields "item" .bitwarden.tokens).token_github.value | quote }}
export NPM_AUTH_TOKEN={{ (bitwardenFields "item" .bitwarden.tokens).token_npm_auth_token.value | quote }}
export HOMEBREW_GITHUB_API_TOKEN={{ (bitwardenFields "item" .bitwarden.tokens).token_homebrew_github_api.value | quote }}
{{ end }}
