# Global bash aliases
alias ll="ls -lahG"
alias ls="ls -Flb"
alias back='cd -'
alias psx='ps -e | grep $1'
alias h='history'

alias mv='mv -i'
# -> Prevents accedentally clobbering files
alias mkdir='mkdir -p'
alias j='jobs -l'

# Usually want egrep
alias grep="egrep"

# Aliases
alias vi="mvim -v"
alias vim="vi"

# Bash-specific aliases
if [ $SHELL_NAME = 'bash' ]; then
  # Reload Bash config
  alias reload="source ~/.bash_profile"
  alias ..='cd ..'

  # Basic backward history search in bash
  bind '"\e[A"':history-search-backward
  bind '"\e[B"':history-search-forward
fi

# ZSH-specific aliases
if [ $SHELL_NAME = 'zsh' ]; then
  # Reload ZSH config
  alias reload="source ~/.zshrc"
fi

# Git Aliases
alias gc="git checkout"
alias gb="git branch"
alias gs="git status"
alias gm="git merge"
alias gd="git diff"
alias gds="git diff --staged"

# Screencasting
alias hideDesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showDesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Bundler Aliases
alias be="bundle exec"
alias bi="bundle install"
alias bu="bundle update"

# Annotate alias. Defaults are stupid
alias annotate='annotate -p before -e tests'

# Rails docs...
alias railsdoc="open ~/code/personal/gems/railsdocs/doc/rdoc/index.html"
