[alias]
  # Favorites
  s = status
  a = add
  b = branch
  r = reset
  m = merge
  aa = ! git add . && git s
  ra = ! git r . && git s

  # Pushing and pulling
  ps = push
  f = fetch
  pl = pull
  pom = pull origin master

  # Just for fun
  praise = blame

  # Committing
  cm = commit -m
  cam = commit -a -m
  co = checkout
  coa = ! git co . && git s

  # Logging and diffing aliases
  d = diff
  ds = diff --staged
  lg = log -p
  lgs = log --pretty='format:%C(yellow)%h%C(cyan)%Creset was %C(cyan)%an%C(white), %ar, message: %s%Creset'
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  graph = log --graph --pretty='format:%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset %C(blue){%an}%Creset' --abbrev-commit --date=relative

  # Remove and re-stage the last commit
  fixlast = reset --soft HEAD^

  # Diff of current branch to other branches.
  # Hope to move these into their own shell scripts
  # for better customizing
  np = log master.. --oneline # Diff from local master
  npr = log origin/master.. --oneline # Diff from remote master
[user]
  name = Matt Bridges
  email = mbridges.91@gmail.com
[color]
  ui = true
[push]
  default = current
[url "git@heroku.com:"]
  insteadOf = heroku:
[url "git://github.com/"]
  # Read-only
  insteadOf = gh:
[url "git@github.com:"]
  # With write access
  insteadOf = wgh:
[core]
  excludesfile = /Users/mattbridges/.gitignore_global
