{{- if eq .chezmoi.os "darwin" -}}
{{ include "./exe/helpers" }}

announce "Installing essential Homebrew dependencies"

{{ $casks := list }}
{{ $brews := list
  "git"
  "bitwarden-cli"
  "reattach-to-user-namespace"
  "gpg"
  "fzf"
  "vim"
  "curl"
}}

{{ $casks := list
  "alfred"
  "firefox"
  "iterm2"
  "homebrew/cask-fonts/font-fira-code"
  "homebrew/cask-fonts/font-hack-nerd-font"
  }}

{{- if not .minimal }}
  {{ $brews = concat $brews (list
    "ansible"
    "zsh"
    "heroku/brew/heroku"
    "khanhas/tap/spicetify-cli"
    "imagemagick"
    "imagemagick@6"
    "cloc"
    "mkcert"
    "editorconfig"
    "entr"
    "watch"
    "certbot"
    "mas"
    "cmake"
    "tree"
    "git-delta"
    "direnv"
    "bat"
    "lsd"
    "fd"
    "httpie"
    "jq"
    "universal-ctags"
    "ripgrep"
    "the_silver_searcher"
    "zsh-syntax-highlighting"
    "yarn"
    "z"
    "memcached"
    "fortune"
    ) }}

  {{ $casks = concat $casks (list
      "bitwarden"
      "postgres"
      "sequel-pro"
      "alfred"
      "google-chrome"
      "sublime-merge"
      "kap"
      "docker"
      "postman"
      "vlc"
      "spotify"
      "kap"
      "toggl-track"
      "forticlient"
      "vagrant"
      "visual-studio-code"
      "workflowy"
    ) }}
{{- end}}

brew bundle --no-lock --no-upgrade --file=/dev/stdin <<EOF
tap 'homebrew/bundle'
tap 'homebrew/cask'
tap 'homebrew/cask-fonts'
tap 'homebrew/core'
tap 'homebrew/services'
tap 'heroku/brew'
tap 'khanhas/tap'

{{- range ($brews | sortAlpha | uniq) }}
brew "{{ .  }}"
{{- end }}

{{- range ($casks | sortAlpha | uniq) }}
cask "{{ . }}"
{{- end }}

{{ if not .minimal -}}
mas "BetterSnapTool", id: 417375580
mas "Edison Mail", id: 1489591003
mas "exifpurge", id: 784466108
mas "Harvest", id: 506189836
mas "iMovie", id: 408981434
mas "NordVPN IKE", id: 1116599239
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
mas "Slack", id: 803453959
mas "Todoist", id: 585829637
{{- end }}
EOF

# installVagrantPlugins
# installPhpbrew
# installZprezto
# installTpm
# installVimMinpac
# vim:ft=sh
{{ end }}
