{{- if eq .chezmoi.os "darwin" -}}
{{ include "./exe/helpers" }}

# Restoring GnuPG keys
#
# To move my GPG from system to system consistently, this script should
# do the trick I've stored the backup.asc file and trust db in attachments
# within my Bitwarden account.
#
# See https://risanb.com/code/backup-restore-gpg-key for a useful summary of how
# I got the idea for automating this process.
#
# You can successfully run
#
#   gpg --delete-secret-key {{ .signingkey }} && gpg --delete-key {{ .signingkey }}
#
# And once that has been done, make a small change to this script (to trigger
# chezmoi change detection) and then run this script to trigger the
#
#   chezmoi apply source-path run_once_999_install_gpg-keys.sh.tmpl

announce "Installing missing GPG keys"

TMP_GNUPG_DIR="{{- .chezmoi.sourceDir }}/.gnupg"

main() {
  if [ $(gpg --list-keys --keyid-format=long | grep -ic {{ .signingkey | quote }}) -gt "0" ]; then
    log "GPG keys are already installed"
  else
    mkdir -p $TMP_GNUPG_DIR
    pushd $TMP_GNUPG_DIR

    bw get attachment "trustdb.txt" --itemid {{ .bitwarden.gpg }}
    bw get attachment "secret-key-backup.asc" --itemid {{ .bitwarden.gpg }}

    gpg --import $TMP_GNUPG_DIR/secret-key-backup.asc
    gpg --import-ownertrust < $TMP_GNUPG_DIR/trustdb.txt

    popd>/dev/null

    rm -rf $TMP_GNUPG_DIR
  fi
}

main
{{- end }}
