{{- if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

source {{ joinPath .chezmoi.sourceDir "exe" "helpers" }}

hasAsdf() {
  [ -d "$HOME/.asdf" ]
}

installAsdf() {
  local asdf_dir=${HOME}/.asdf

  if ! hasAsdf; then
    log "Installing asdf"
    git clone https://github.com/asdf-vm/asdf.git "${asdf_dir}" --branch v0.8.0
    cd "${asdf_dir}"
    git checkout "$(git describe --abbrev=0 --tags)"
    cd -
    logDone
  else
    log "asdf already installed"
  fi
}

installAsdfPlugins() {
  local plugins=("ruby" "nodejs" "deno" "tmux" "php")

  for plugin in "${plugins[@]}"; do
    if ! hasAsdfPlugin "$plugin"; then
      log "Installing asdf $plugin plugin"
      asdf plugin add "$plugin"
    else
      log "asdf $plugin plugin installed"
    fi
  done
}

installAsdfTools() {
  if hasAsdf; then
    log "Installing main asdf tools"
    goToDir "$HOME"
    asdf install
    goBackDir
  fi
}

main() {
  announce "Installing asdf and plugins"

  installAsdf
  installAsdfPlugins
  installAsdfTools
}

main
# vim: ft=sh
{{ end }}
