{{- if eq .chezmoi.os "darwin" -}}
{{ include "./exe/helpers" }}

if ! brewExists; then
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
else
  log "Brew already installed"
fi

brew bundle --no-upgrade --no-lock --file=/dev/stdin <<EOF
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "heroku/brew"

brew "git"
brew "bitwarden-cli"
brew "reattach-to-user-namespace"
brew "fzf"
brew "vim"
brew "mkcert"
brew "certbot"
brew "tree"
brew "git-delta"
brew "direnv"
brew "dnsmasq", restart_service: true
brew "bat"
brew "httpie"
brew "jq"
brew "lsd"
brew "zsh"
brew "mas"
brew "heroku/brew/heroku"
brew "editorconfig"
brew "entr"
brew "curl"
brew "ctags"

cask "bitwarden"
cask "font-fira-code"
cask "postgres"
cask "postman"
cask "sequel-pro"
cask "vlc"
cask "workflowy"
cask "alfred"
cask "firefox"
cask "google-chrome"
cask "iterm2"
cask "spotify"
cask "sublime-merge"
cask "kap"
cask "toggl-track"
cask "forticlient"
cask "homebrew/cask-fonts/font-fira-code"
cask "homebrew/cask-fonts/font-hack-nerd-font"
EOF

installAsdf
installAsdfPlugins
installAsdfTools
installVagrantPlugins
installPhpbrew
installZprezto
installTpm
installVimMinpac

setupZshAsDefault
{{ end }}
