[AdditionalOptions]
home_config    = 1
extensions     =
custom_apps    =
sidebar_config = 1

[Patch]

[Setting]
spotify_launch_flags    =
check_spicetify_upgrade = 0
color_scheme            = {{ .spicetify.scheme }}
prefs_path              = /Users/mwells/Library/Application Support/Spotify/prefs
current_theme           = {{ .spicetify.theme }}
inject_css              = 1
replace_colors          = 1
overwrite_assets        = 0
spotify_path            = /Applications/Spotify.app/Contents/Resources

[Preprocesses]
disable_sentry        = 1
disable_ui_logging    = 1
remove_rtl_rule       = 1
expose_apis           = 1
disable_upgrade_check = 1

; DO NOT CHANGE!
[Backup]
1ersion = 1.1.62.583.gdac868ed
with    =

