"*":
  "bracket-matcher":
    highlightMatchingLineNumber: true
  core:
    audioBeep: false
    disabledPackages: [
      "whitespace"
    ]
    telemetryConsent: "limited"
    uriHandlerRegistration: "always"
  "exception-reporting":
    userId: "d01d458c-9bb8-4abf-bc63-5bee06b46660"
  "linter-rubocop":
    disableWhenNoConfigFile: true
  welcome:
    showOnStartup: false
