[
  {
    title: "TK Front End"
    group: "TK"
    paths: [
      "/Users/mattbridges/code/bitbucket.org/trendkite/trendkite-front-end/workspaces/app"
      "/Users/mattbridges/code/bitbucket.org/trendkite/trendkite-front-end/workspaces/tk-ui"
    ]
    devMode: true
  }
  {
    title: "Union Web"
    paths: [
      "/Users/mattbridges/code/github.com/union/galley/src/union-web"
    ]
  }
  {
    title: "Tweetreach Web"
    group: "Union Metrics"
    paths: [
      "/Users/mattbridges/code/github.com/union/galley/src/tweetreach-web"
    ]
    devMode: true
  }
]
